#header {
     
      height: 210px;
}

.HEAD  {
	  text-indent: 2mm;
      position: relative; 
      float: right;
      top: 30%;
      color: white;
      width: 100%;
	  
}

.HEADNAME {

      background: #FF8C00;
      display: inline-block;
      width: 85%;
      font-size: 30px;
	  top: 17mm;
}

.header_title_position {
      font-size: 30px;
}

#AVA {
      position: absolute; 
      left: 2cm; 
      top: 2mm;
}

#EMB {
      position: absolute; 
      right: 8mm; 
      top: 2mm;
}

#SLEVA {
      float: left; 
      width: 50%;
}

#RCD {
      float: left; 
      width: 50%;
}


.contentS {
      margin: 20px;
}
.STITLE {
      background: #FF8C00;
      font-size: 30px;
      color: white;
      width: 100%;
      display: inline-block;
	  text-indent: 2mm;
}

 
#content {
      background: #F0E68C;
      height: 600px;
	  width: 96%;
	  margin: 30px;
	  
}



#POLOSKA {
     background: #808080;
      height: 80px;
	  width: 95%;
	  margin: 30px;

}
body {
    background-repeat: no-repeat;
    background-image: url(zad.jpg);
    background-size: 200% 100%;
   }
   .HEAD1  {
	   text-indent: 2mm;
      position: relative; 
      float: right;
      top: 30%;
      color: white;
      width: 100%;
	  
}
.HEADNAME1 {
      background: #FF8C00;
      display: inline-block;
      width: 70%;
      font-size: 20px;
	  top: 20mm;
	  
}
   .HEAD2  {
	   text-indent: 2mm;
      position: relative; 
      float: right;
      top: 30%;
      color: white;
      width: 100%;
	  
}
.HEADNAME2 {
      background: #FF8C00;
      display: inline-block;
      width: 65%;
      font-size: 20px;
	  top: 25mm;
}
table{
border-style: solid;
border-width:3px 3px 3px 3px;
border-color: grey;
font-size: 120%;
}
td, th {
     border: 2px solid grey; 
    } 
	li{ font-size: 120%;
	}
hr{
height: 4px;
 background-color: grey;
 color: grey;
 width: 100%

 }
#SHRIFT
{
	font-size: 30px;
}
#SHRIFT2
{
	
	font-size:20px;
	
	
}
#MININ
{
	   position: absolute; 
      right: 4cm; 
     top: 149mm;
}
.ST{     background: #FF8C00;
      font-size: 30px;
      color: white;
      width: 100%;
      display: inline-block;
text-indent: 2mm;
 margin: 10px;
}
.G1
{
	 position: absolute; 
      top: 131mm;

	
}